{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Forgot Password</h1>
        <p class="text-center">Enter your email address to reset your password.</p>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send reset link</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}