{% autoescape off %}
<html>
  <head>
    <title>Password Reset for My Project</title>
  </head>
  <body>
    <h2>Dear {{ user.get_full_name }},</h2>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    <p>Please click the link below to reset your password:</p>
    <p><a href="{{ protocol}}://{{ domain }}{% url 'vulnerable_app:password_reset_confirm' uidb64=uid token=token %}">Reset password</a></p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Best,</p>
    <p>The My Project Team</p>
  </body>
</html>
{% endautoescape %}